html {
  font-size: 1.2rem;
}
body {
  /* background-image: url("https://www.transparenttextures.com/patterns/flowers.png"); */
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
nav {
  background-color: #304d30;
  margin: auto -16px;
  padding: 16px 32px;
}

header > a {
  font-family: "Leckerli One";
  font-size: 1.5rem;
  font-weight: 200;
  color: #092635;
  margin-left: 10px;
}
#logo {
  font-family: "Leckerli One";
  font-size: 1.7em;
  font-weight: 200;
  color: #092635;
  margin-left: 10px;
}
img {
  border-radius: 20px;
}
p > span {
  font-family: "Leckerli One";
  font-size: 1.5rem;
  font-weight: 200;
  color: #092635;
  margin-left: 10px;
}
#icon {
  width: 60px;
  height: 60px;
  color: #192655;
}
.jdb {
  font-family: "Leckerli One";
  font-size: 1.2em;
  font-weight: 200;
  color: #092635;
  margin-left: 10px;
}
.nav-list {
  color: #092635 !important;
}
.card-product {
  position: relative;
  overflow: visible;
}

.card-product::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  pointer-events: none;
}
.whatsapp-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 70px;
  width: 40%;
  text-decoration: none;

  /* Add hover and active styles here */
  &:hover {
    background-color: #1db954;
    color: black;
    text-decoration: none;
  }

  &:active {
    color: black;
    text-decoration: none;
  }
small {
  font-size: 20px;
}
}
